<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>UserTestSuite.UserDataTestSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_userNotfound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_deleteUserDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_createData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_modifyUserDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
