<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a263c2">  <td>21/07/09 15:22:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserDataTestSuite.test_deleteUserDetails()[pri:0, instance:UserTestSuite.UserDataTestSuite@20d28811]">test_deleteUserDetails</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>21/07/09 15:22:38</td>   <td>650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserDataTestSuite.test_modifyUserDetails()[pri:0, instance:UserTestSuite.UserDataTestSuite@20d28811]">test_modifyUserDetails</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>21/07/09 15:22:39</td>   <td>1200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserDataTestSuite.test_userNotfound()[pri:0, instance:UserTestSuite.UserDataTestSuite@20d28811]">test_userNotfound</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>21/07/09 15:22:34</td>   <td>-3409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserDataTestSuite.test_createData()[pri:0, instance:UserTestSuite.UserDataTestSuite@20d28811]">test_createData</td> 
  <td>main@2127036371</td>   <td></td> </tr>
</table>
